<div id="header">
	<h1><a href="/">Tailgatr</a></h1>
</div>

<div id="mapbox">
	<div id="addtg">
		<h2>Add A Tailgate!</h2>
		<form action="/tailgates" method="post" name="tailgate" id="addform">
			<label>Name</label><input name="name" type="text" />
			<label>Location</label><input name="location" type="text" />
			<label>School</label><input id="school" name="school" type="text" readonly />
			<label>Description</label><textarea name="description"></textarea>
		  <label>Coordinates</label><input id="latlng" name="latlng" type="text" readonly />
		  <input id="submit" type="submit" value="Create Tailgate!" />

		</form>	
	</div>

	<div id="map">
	</div>
</div>

<script>

var map = L.map('map').setView([37.55, -96.000], 5);

var googleLayer = new L.Google('ROADMAP');
map.addLayer(googleLayer);

<% @schools = School.all 
   @tailgates = Tailgate.all
@schools.each do |x| %>

var <%= x.image %>= L.icon({
  iconUrl: '/assets/images/<%= x.image%>.png',
  iconSize:     [40, 40],
  iconAnchor:   [20, 20], 
  popupAnchor:  [20, 20]
});

L.marker([<%= x.latlng %>], {icon: <%= x.image %>}).addTo(map).on('click', function(e) {
	map.setView([<%= x.latlng %>], 17);
	map.removeLayer(googleLayer);
	googleLayer = new L.Google('HYBRID');

  map.addLayer(googleLayer);
  $('#school').val('<%= x.name %>');
  $('#latlng').val('');
  $('#header').css('background', '#<%= x.pcolor %>');
  $('h1 a').css('color', '#<%= x.scolor %>');

  getTailgates(<%= x.id %>);

});

<% end %>

function getTailgates(schoolid){
	<% @schoolid = School.find(1).id
	@tailgates = Tailgate.where(school_id: @schoolid)
  
	@tailgates.each do |x| %>
	var latlng = "<%=x.latlng%>";
  latlng = latlng.split(",");
	var coords = {
		"lat": latlng[0],
		"lng": latlng[1]
	};

	  newMark = new L.marker(coords).addTo(map).bindPopup("<p id='puname'><%=x.name%></p><p id='puloc'><%=x.location %></p><p><a href='/tailgates/<%=x.id%>'>More Details</a>");
	<% end %>

};

var orig = {
"lat": 89.99,
"lng": -0.01
};
var newMarker = new L.marker(orig).addTo(map);

map.on('click', function(e) {
	
		  map.removeLayer(newMarker);
      newMarker = new L.marker(e.latlng).addTo(map);
      console.log(e);

	var latlng = (e.latlng.toString());
	latlng = latlng.replace(/[\(\)&]+/g, '');
	latlng = latlng.replace( /[A-Za-z]/g, '' );
  $('#latlng').val(latlng);
});

$('#addtg').click(function() {
  $('#addform').slideDown();
  $(this).animate({
    padding: '0 20px 20px 20px',
    width:'400px'
  });
  
});

</script>
